@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

/*BUTTONS*/ 


.button{
    display: inline-block;
    background-color: coral;
    color: #fff;
    padding: .75rem 2.5rem;
    font-weight: 600;
    border-radius: .5rem; 
    text-decoration: none;

    &:hover{
        box-shadow: 0 10px 10px rgba(250, 250, 250, 0.1), 0px 0px 50px rgba(250, 250, 250, 0.1);
        color:rgb(77, 75, 75);
    }
}

/*sections*/

.section-title{
    position: relative;
    font-size: 1.25rem;
    color: coral;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;

    &::after{
        position: absolute;
        content: '';
        width: 64px;
        height: 0.18rem;
        left: 0;
        right: 0;
        margin: auto;
        top: 2rem;
        background-color: coral;
    }
}
.section{
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.header{
    height: 5rem;
    padding: 15px;
    
    nav{
        a{
            color:rgb(112, 111, 111);
            text-decoration: none;
            font-weight: 600;
        }
        .nav-first-item{
            position: absolute;
            color: rgb(112, 111, 111);
        }
        #nav-menu-container{
            display: flex;
            justify-content: flex-end;
            .nav-menu{
                z-index: 1002;
                li{
                    display: inline;
                    padding:0px 15px;
                    a{
                        &:hover{
                            position: relative;
                
                            &::after{
                                position: absolute;
                                content: '';
                                width: 100%;
                                height: 0.18rem;
                                left: 0;
                                top: 2rem;
                                background-color: coral;
                            }
                        }
                    }
                }
            }
            
        }
    }
    
    #nav-toggle{
        display: none;
        text-align: right;
        color: #fff;
    }
    
}


@media screen and (max-width: 768px){
    .header{
        nav{
            #nav-menu-container{
                //flex-direction: column;
                //justify-content: right;
                
                .nav-menu
                {
                    display: none;
                }
               text-align: center;
               .show.nav-menu{
                   display: block;
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    padding: 1.5rem;
                    background-color: rgba(255, 127, 80, 0.7);
                    
                    transition: .5s;
                    box-shadow: 0 10px 10px rgba(255, 127, 80, 0.2), 0px 0px 50px rgba(255, 127, 80, 0.2);
                   li{
                       display: block;
                       padding: 0.5rem;
                       background-color: rgba(255, 127, 80, 0.005);

                       a{
                            background-color:rgba(255, 127, 80, 0.005);
                            color: white;
                            &:hover{
                                position: relative;
                    
                                &::after{
                                    background-color: black;
                                }
                            }
                       }
                   }
               }
            }
            #nav-toggle{
                display: block;
            }
        }
    }
    
}


/*===== HOME =====*/

#home{

    .container{
        display: flex;
        justify-content: space-between;
       
        .home__text{
            width: 40%;
            font-size: 30px;
            margin-left:20px;
            color:rgb(112, 111, 111);
            .home__title-color{
                color: coral;
            }
            h1{
                /* Cursor */
                .txt-type > .txt {
                    border-right: 0.2rem solid rgb(112, 111, 111);
                    color:rgb(77, 75, 75);
                }
            }
        }
        .home__img{
            
            text-align: right;
            img{
                margin-right: 50px;
                width: 60%;
            }
        }
        
    }
    .home__social{
        margin-left:25px;
        
        .home__social-icon{
            color:rgb(112, 111, 111) ;
            
        }
    }
}
.bd-grid{
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    //grid-template-columns: 100%;
    //grid-column-gap: 2rem;
    //width: calc(100% - 4rem);
    margin-left: 1rem;
    margin-right: 1rem;
}

/* ===== ABOUT =====*/
#about{
    .section-title{
        row-gap: 2rem;
        text-align: center;
        color:coral;
    }
    &__subtitle{
        margin-bottom: 1rem;
        color: coral;
    }

    .aboutUnderline{
        text-align: center;
    }
}
/*=====SKILLS====*/
$componentSize: 179px;
$maskSize: 50px;
$speed: 1s;
$borderOffset: 8px;

$backgroundColor: black;
$animationProps: $speed linear infinite alternate;

@keyframes mask-move {
  0%   { 
    transform: translateX(0);
  }
  100% { 
    transform: translateX($componentSize - $maskSize);
  }
}

@keyframes mask-inner-move {
  0%   { 
    transform: translateX(0);
  }
  100% { 
    transform: translateX(-($componentSize - $maskSize));
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.skillsContainer,
html {
  height: 100%;
}

.skillsContainer {
  padding-top: 2rem;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $backgroundColor;
  font-family: 'Poppins', sans-serif;
}

.focus {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: .2rem;
  line-height: 1;
  position: relative;
  width: $componentSize;
  &:before {
      content: 'Fullstack';
      filter: blur(3px);
  }
  &:after {
    content: '';
    position: absolute;
    width: $maskSize;
    height: calc(100% + #{$borderOffset});
    top: -($borderOffset / 2);
    left: 0;
    border-top: 2px solid;
    border-bottom: 2px solid;
    animation: mask-move $animationProps;
  }
  &--mask {
    overflow: hidden;
    position: absolute;
    width: $maskSize;
    height: 100%;
    top: 0;
    left: 0;
    background: $backgroundColor;
    animation: mask-move $animationProps;
    &-inner {
      animation: mask-inner-move $animationProps;
    }
  }
}

.credits {
  color: rgb(112, 111, 111);
  font-weight: 200;
  letter-spacing: 0.05rem;
  //font-style: italic;
  padding-top: 3rem;
  text-align: center;
  a {
    color: white;
    text-decoration: none;
    font-weight: normal;
    &:hover {
      text-decoration: underline;
    }
  }
}


/* ===== CONTACT =====*/
.contact{
    text-align: center;

    .section-title{
        color: coral;
        
    }
    .contact__container{
       
        justify-items: center;
    }
    
    
    
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        
    }
    
    &__input{
        
        width: 100%;
        font-size: 1rem;
        font-weight: 600;
        padding: 1rem;
        border-radius: .5rem;
        border: 1.5px solid rgb(112, 111, 111);
        outline: none;
        margin-bottom: 1rem;
    }
    &__button{
        border-style: none;
    }
}

/* ===== FOOTER =====*/
.footer{
    border-top: 0.5px solid rgb(112, 111, 111);
    color: rgb(112, 111, 111);
    text-align: center;
    font-weight: 600;
    padding: 1rem 0;

    &__title{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    &__social{
        margin-bottom: 1rem;
    }
    &__icon{
        font-size: 1.5rem;
        color: rgb(112, 111, 111);
        margin: 0 1rem;
    }
}



/*.work{
    .flipbook-container{
        text-align: center;
        
        .hard {
	background-color: #00F;
}

#flipbook{
    margin-left: 35%;
    -webkit-transition:margin-left 0.2s ease-in-out;
    -moz-transition:margin-left 0.2s ease-in-out;
    -o-transition:margin-left 0.2s ease-in-out;
    -ms-transition:margin-left 0.2s ease-in-out;
    transition:margin-left 0.2s ease-in-out;
  }

.pg1 {
	background-color: #FF0;
}

.pg2 {
	background-color: #0FF;
}

.pg3 {
	background-color: #F0F;
}

.pg4 {
	background-color: #F00
}
       
    }
}
*/

.flipbook-container{
    width:250px;
    height: 250px;
    background: #fff;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate (-50%, -50%);
    perspective: 1000px;


    .cover{
        width:210px;
        height: 100%;
        position: absolute;
        left:40px;
        background-color: gray;
        transform: rotateY(-20deg);
        transform-style: preserve-3d;
        transform-origin: left;
        transition: all .5s ease-in;

        &:hover{
        
               transform: rotateY(-90deg);
            
            
        }

        .card-front{
        width:210px;
        height: 100%;
        position: absolute;
        left:40px;
        background-color: red;
        transform: rotateY(90deg);
        backface-visibility: hidden;
        transform-style: preserve-3d;
        transform-origin: left;
        transition: all .5s ease-in;

        &:hover{
        
               transform: rotateY(-90deg);
            
            
        }

        }
        /*.card-middle{
            width:210px;
            height: 100%;
            position: absolute;
            left:40px;
            background-color: green;
            transform: rotateY(-180deg);
            transform-style: preserve-3d;
            transform-origin: left;
            transition: all .5s ease-in;
    
            &:hover{
            
                   transform: rotateY(180deg);
                
                
            }*/
        }

}
